
body, html {
	height: 100%;
	user-select: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
}
#stage {
	background-color: rgb(101, 145, 211);
	border-radius: 20px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#wrapper {
	width: 90%;
	max-width: 800px;
}
header {
	display: flex;
	justify-content: space-between;
	border: 2px solid #6c6ab5;
	border-radius: 20px;
	margin-bottom: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	#shapesNumber, #shapesArea {
		width: 100%;
		border: 2px solid #6c6ab5;
		border-radius: 6px;
		padding: 5px;
		margin: 15px;
		text-align: center;
		box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 1px 1px rgba(0,0,0,0.17);
	}
}

footer {
	display: flex;
	justify-content: space-around;
	border: 2px solid #6c6ab5;
	border-radius: 20px;
	margin-top: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	.controls {
		display: flex;
		align-items: center;
		margin: 5px;
		}

		.increase, .decrease {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 70px;
			height: 35px;
			font-size: 32px;
			margin: 10px;
			border: 2px solid #6c6ab5;
			border-radius: 6px;
			background: transparent;
			box-shadow: 0 14px 28px rgba(0,0,0,0.17), 0 1px 1px rgba(0,0,0,0.17);
		}

		.title {
			display: flex;
			border: 2px solid #6c6ab5;
			border-radius: 6px;
			width: 160px;
			height: 30px;
			align-items: center;
			justify-content: center;
			margin: 5px;
		}
	}




